//Colors
$green: #368f57;
$blue: #0d86bd; 
$pink: #c73a6d;
$orange: #f1803b;
$yellow: #fcef12;
$black: black;
$white: white;
$shadow: #1c1c1c;
$dots: #aaaaaa;
$btn-shadow: #8c4a25;
$text-shadow: #282828;

//Font
$nunito-sans: "Nunito Sans", sans-serif;